<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 這邊可以設定相對應的變數，讓整個xml的結構更簡潔 -->
    <property name="ProjectName" value="Logback Test" />
    <property name="LOGS" value="./logs" />
    <property name="ConsolePattern"
              value="%cyan(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${ConsolePattern}</Pattern>
        </layout>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOGS}/${ProjectName}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 當檔案大於10MB時就會轉存到以下這個檔案 -->
            <fileNamePattern>${LOGS}/archived/logger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- Log紀錄大於 INFO level 的log -->
    <root level="info">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </root>

    <!-- 在"com.acf.logbacktest.Log1Service*"這個位置的程式會記錄大於 TRACE level 以上的Log(即所有)-->
    <logger name="com.acf.logbacktest.Log1Service" level="trace" additivity="false">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </logger>

</configuration>